/* Navbar */
#logo{
    height: 100%;
    overflow: hidden;
    width: 100%;
 }
 
nav {
    background-color: #062469;
    color: white;
    font-weight: 500;
    height: 70px;
}

 body {
    background-color: rgb(1, 33, 105, 0.3); 
    z-index: -1;
 }
 
 
 .body-padding{
    padding: 0 20px 0 20px;
 }
 
 /* Add & Edit Mode */
 .add-member{
    display: flex;
    justify-content: flex-start;
 }

 /* Cabinet Member Profile Card and Picture */

 .flex-box-cab{
   display: flex;
   justify-content:center;
 }
 
 .image-container {
    padding: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .cabinet-image {
    width: 360px;
    height: 480px;
    border-style:groove;
    border-color: #C8102E;
 }

 .cabinet-image:hover {
   opacity: 0.7;
}
 
 .profile-box {
   width: 100%;
   height: 700px;
 }
 
 @media only screen and (min-width: 200px) and (max-width: 815px) {
   #adjust {
     width: 100% !important;
   }
 }

 @media only screen and (min-width: 816px) and (max-width: 1240px) {
   #adjust {
     width: 50% !important;
     height: 100%;
   }
 }

 @media only screen and (min-width: 1540px) {
   #adjust {
     width: 25% !important;
   }
 }

 /* Cabinet Member Profile Text Content */

.cab-role{
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 18px;
    text-align: center;
    color: black;
 }
 
 .cab-name{
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 10px 0px 10px 0px;
 }
 
 .cab-constituency{
    font-family: 'lora', serif ;
    font-weight: 600;
    font-size: 18px ;
    text-align: center;
 }
 
 .flex-box-buttons{
    display: flex;
    justify-content:flex-end
 }

 /* Font Awesome Icons */

 .edit-icon{
    background-color: #062469;
    color: whitesmoke;
 }

 .edit-icon:hover{
    background-color: whitesmoke;
    color: #062469;
 }

 .delete-icon{
    background-color: #C8102E;
    color: whitesmoke;
 }

 .delete-icon:hover{
    background-color: whitesmoke;
    color: #C8102E;
 }

 /* Cabinet Member Profile Page (API) */
 .mycard{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   max-width: 700px;
   margin: auto;
   background-color: rgb(200, 16, 46, 0.2);
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   font-weight: 600;
 }

 #cab-photo-outer{
   height: 240px;
   width: 100%;
   justify-content: center;
   display: flex;
 }


#cab-photo-outer > img{
   border-radius: 50%;
   border-style:groove;
   border-color: #C8102E;
   height: 240px;
   width: 240px;
   align-items: center;
   display: flex;
}

#synopsis > h5{
   font-weight: 500;
   padding-top: 5px;
}

#votes > h5{
   font-weight: 500;
   padding-top: 5px;
}

#votes > li{
   list-style-type:square;
}

 /* Login Page & Sign Up Pages*/

 #loginbg{
   background-image: url("../images/bhop.jpg");
   background-repeat: no-repeat;
   opacity: 0.95;
   overflow: hidden;
   background-position: center;
   height: 100%;
   width: 100%;
}

#signupbg{
   /* background-image: url("../images/downing-street-night.jpg");  */
   background-image: url("../images/larry.jpg");
   background-repeat: no-repeat;
   opacity: 0.91;
   overflow: hidden;
   background-position: center;
   height: 100%;
   width: 100%;
}

.login-card-outer{
   height: 700px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.login-card{
   height: 600px;
   width: 600px;
   background-color: rgb(6, 36, 105, 0.95);
   display: flex;
   justify-content: center;
   align-items: center;
}

.login-form{
   display: flex;
   justify-content: center;
   align-items: center; 
}

.login-submit-button{
   color:white;
   background-color:#C8102E;
}

.login-submit-button:hover{
   color:#C8102E;
   background-color:white;
}

.login-card-inner{
   height: 500px;
}

.login-text{
   font-family: 'cabin', sans-serif;
   color: #C8102E;
   font-weight:600;
   font-size: 44px;
   padding: 20px 0 20px 0;
}

 /* Flash Messages */

 #flashx:hover{
   color: #C8102E;
 }
