{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div  style="padding-top: 30px">
          <div class="card mycard col s12">
            <div class="col m12 l6">
              <img class="profile-image" src="{{ url_for('static', filename='images/larry.jpg') }}">
            </div>
            <div class="card-content col m12 l6">
              <p class ="" id="synopsis"></p>
              <p id="votes"></p>
              <p id="interests"></p>
            </div>
          </div>
        </div>
      </div>
</div>
<div>
    <p id="dataspot"></p>
</div>

{% endblock %}