{% extends "base.html" %}
{% block content %}

<!-- Header -->
<header class="row center-align">
    <h1>Cabinet</h1>
    <h6>This list details those MPs of the House of Commons that hold a government post, their position and
        constituency.</h6>
</header>

<!-- Modal Triggers for Add, Edit or Delete Cabinet members-->
{% if session.user %}
<div class="row ">
    <div class="col-s12"> 
        <ul class="flex-box-buttons">
            <li><a class="btn modal-trigger" onclick="$('#modal1').modal('open');">Add a New Cabinet Minister</a></li>
            <div class="switch">Edit Mode    
                <label>
                  Off
                  <input type="checkbox">
                  <span class="lever"></span>
                  On
                </label>
              </div>
        </ul>
    {% else %}
        <p class="center-align">
            In order to make updates to the cabinet, you need to <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In!</a>
        <br>Not registered? <a href="{{ url_for('signup') }}" class="light-blue-text text-darken-4">Sign Up Now!</a>
        </p>
    </div>
</div>
{% endif %}

<!-- Cabinet Members -->
<div class="row">
    {% for cab in cabinet %}
    <div class="col s12 m5 l4 xl3">
        <div class="profile-box">
            <div class="image-container">
                <img class="option-image materialboxed" src="{{ cab.profile_pic }}" title="{{ cab.first_name.capitalize() }} {{ cab.last_name.capitalize() }}" alt="{{ cab.first_name.capitalize() }} {{ cab.last_name.capitalize() }}">
            </div>
            <div class="cab-role">{{ cab.role.title() }}</div>
            <div class="cab-name">{{ cab.first_name.capitalize() }} {{ cab.last_name.capitalize() }}</div>
            <div class="cab-constituency">MP for {{ cab.constituency.title() }}</div>
            <div class="center-align">
                <a class="btn" href="{{ url_for('edit_minister', cab_id=cab._id) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                <a class="btn" href="{{ url_for('delete_minister', cab_id=cab._id) }}"><i class="fa-solid fa-trash"></i></a>        
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Modal Structure for Add Member-->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Add a Cabinet Member</h4>
        <p>Use the below form to add in a new cabinet member.</p>
        <div>
            <div class="row">
                <form class="col s12" method="POST" action="{{ url_for('add_minister') }}">
                <!----------- First Name ------------>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="First Name" name="first_name" id="first_name" type="text" class="validate" required>
                            <label for="first_name">First Name</label>
                        </div>
                    </div>
                    <!----------- Last Name ------------>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Last Name" name="last_name" id="last_name" type="text" class="validate" required>
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <!----------- Gender ------------>
                    <div class="row">
                        <div class="input-field col s12">
                            <select id="gender" name="gender" class="validate" required>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                            <label for="gender">Gender</label>
                        </div>
                    </div>
                    <!----------- Date of Birth ------------>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="dob" id="dob" type="text" class="datepicker" required>
                            <label for="dob">Date of Birth</label>
                        </div>
                    </div>
                    <!----------- Minsterial Role ------------>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Ministerial Role" name="role" id="role" type="text" class="validate" required>
                            <label for="role">Ministerial Role</label>
                        </div>
                    </div>
                    <!----------- Constituency ------------>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Constituency" name="constituency" id="constituency" type="text" class="validate" required>
                            <label for="constituency">Constituency</label>
                        </div>
                    </div>
                    <!----------- Profile Picutre ------------>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="URL for Profile Picture" name="profile_pic" id="profile_pic" type="text" class="validate">
                            <label for="profile_pic">Profile Picture (URL)</label>
                        </div>
                    </div>
                    <!----------- Submit and Cancel Buttons ------------>
                    <div class="row">
                        <div class="col s12 center-align">
                            <a onclick="$('#modal1').modal('close');" class="btn-large red darken-1 text-shadow">
                                Cancel <i class="fas fa-plus-cancel right"></i>
                            </a>
                            <button type="submit" class="btn-large green darken-1 text-shadow">
                                Add Minister <i class="fas fa-plus-square right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}