{% extends "base.html" %}
{% block content %}

<div class="row bgimg-outer">
    <div id="bgimg1" class="col s6"></div>
    <div id="bgimg2" class="col s6"></div>
    <div id="bgimg3" class="col s6"></div>
    <div id="bgimg4" class="col s6"></div>
</div>



<!-- <div class="row">
    <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="{{ url_for('static', filename='images/favicon-UK.ico') }}"></a>
        <a class="carousel-item" href="#two!"><img src="{{ url_for('static', filename='images/downing-street-night.jpg') }}"></a>
        <a class="carousel-item" href="#three!"><img src="{{ url_for('static', filename='images/favicon-UK.ico') }}"></a>
        <a class="carousel-item" href="#four!"><img src="{{ url_for('static', filename='images/favicon-UK.ico') }}"></a>
        <a class="carousel-item" href="#fove!"><img src="{{ url_for('static', filename='images/favicon-UK.ico') }}"></a>
      </div>
</div> -->

{% endblock %}